# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*.DOC
*.BMP
*.CAH
*.17
*.DAT
*.EXE
*.TXT
*.TOB
*.TOK
*.BAK
qcrypt
xorfiles
qcrypt_testfilegen
qcrack_checksum_test